@font-face {
    font-family: "Prima Serif Regular";
    src: url("@/assets/fonts/primaserifbt-roman.woff2") format("woff2"),
        url("@/assets/fonts/primaserifbt-roman.woff") format("woff"),
        url("@/assets/fonts/primaserifbt-roman.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
